<template name="adminComponentsAudioControl">
  <button id="startButton" class="btn me-1 fs-1 text-white bg-transparent">
    <i class="bi bi-play-circle   icon"></i>
  </button>
  <button id="stopButton" class="btn fs-1 text-white bg-transparent">
    <i class="bi bi-pause-circle "></i>
  </button>
</template>
<!-- <template name="adminComponentsAudioControl">
  {{#if isPlay}}
  <button id="stopButton" class="btn ms-3 fs-1 text-white bg-transparent">
    <i class="bi bi-pause-circle "></i>
  </button>
  {{else}}
  <button id="startButton" class="btn me-3 fs-1 text-white bg-transparent">
    <i class="bi bi-play-circle   icon"></i>
  </button>
  {{/if}}
</template> -->