<template name="adminComponentsAudioControl">
  {{#let _status=audioGlobal.status.get _song=audioGlobal.song.get}}
  <div>
    {{#if and (eq song._id _song._id) (eq _status 'play')}}
    <button id="stopButton" class="btn fs-1 text-white bg-transparent">
      <i class="bi bi-pause-circle "></i>
    </button>
    {{else}}
    <button id="startButton" class="btn me-1 fs-1 text-white bg-transparent">
      <i class="bi bi-play-circle  icon"></i>
    </button>
    {{/if}}

  </div>
  {{/let}}
</template>